# OS / editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Node / PHP tools (si los usas)
node_modules/
vendor/
composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Builds / artefactos
dist/
build/
*.zip

# WordPress
wp-config.php
.env
.env.*
